header {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

#customers_profiles {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.each_customer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 22%;
  margin: 0 15px 30px 15px;
}

.each_customer img {
  height: 250px;
  margin-bottom: 20px;
}
