header {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

#customers_profiles {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.each_customer {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 22%;
  margin: 0 15px 50px 15px;
}

.each_customer img {
  height: 250px;
  margin-bottom: 20px;
}

.name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.name span {
  border-bottom: 2px solid green;
}

.email {
  font-size: 10pt;
  text-transform: uppercase;
  color: #b3bec1;
}

.address_phone {
  text-transform: capitalize;
  color: #666;
}

.ssn {
  color: green;
}
